.businessFunctionMenu {
  background: #f2f2f2;
  width: 100%;
  color: #333333;
  font-size: 12px;
  position: relative;
  z-index: 150;
}
.businessFunctionMenu > div {
  width: 1260px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 30px;
  padding-right: 20px;
  justify-content: space-between;
}
.businessFunctionMenu > div > div:nth-child(1) {
  display: flex;
  align-items: center;
}
.businessFunctionMenu > div > div:nth-child(1) > svg {
  width: 14px;
  height: 19px;
}
.businessFunctionMenu > div > div:nth-child(1) > div {
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 52px;
  position: relative;
}
.businessFunctionMenu > div > div:nth-child(1) > div > svg {
  width: 11px;
  height: 16px;
  margin-left: 5px;
  fill: #666666;
  transform: rotate(0deg);
  transition: transform 0.5s;
}
.businessFunctionMenu > div > div:nth-child(1) > div > svg.arrowRotate {
  transform: rotate(-180deg);
}
.businessFunctionMenu > div > div:nth-child(2) {
  display: flex;
  align-items: center;
}
.businessFunctionMenu > div > div:nth-child(2) > div {
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;
}
.businessFunctionMenu > div > div:nth-child(2) > .line {
  padding: 0;
  width: 1px;
  height: 8px;
  background: #333333;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(1) > span {
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(1) > span:hover {
  background: #ffffff;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(1) > span:nth-child(2) {
  margin-left: 10px;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(2) {
  cursor: pointer;
  height: 30px;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(2):hover {
  background: #ffffff;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(2):hover > div:nth-child(1) > svg {
  transform: rotate(-180deg);
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(2):hover > div:nth-child(2) {
  display: flex;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  align-items: center;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > svg {
  width: 11px;
  height: 16px;
  margin-left: 5px;
  fill: #666666;
  transform: rotate(0deg);
  transition: transform 0.5s;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > span:nth-child(2) {
  max-width: 96px;
  height: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  position: absolute;
  right: 0;
  top: 30px;
  background: #ffffff;
  box-shadow: 0 2px 2px 0 #ddd;
  width: 68px;
  display: none;
  flex-direction: column;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:hover {
  background: #f5f5f5;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) > span:nth-child(2) {
  color: #cc3333;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4) {
  height: 30px;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4):hover {
  background: #ffffff;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4):hover > div:nth-child(1) > svg {
  transform: rotate(-180deg);
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4):hover > div:nth-child(2) {
  display: flex;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4) > div:nth-child(1) {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4) > div:nth-child(1) > svg {
  width: 11px;
  height: 16px;
  margin-left: 5px;
  fill: #666666;
  transform: rotate(0deg);
  transition: transform 0.5s;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  width: 260px;
  background: #ffffff;
  height: 180px;
  box-shadow: 0 2px 2px 0 #ddd;
  flex-direction: column;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(1) {
  width: 100%;
  height: 150px;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(1) .siteList {
  width: 260px;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(1) .siteList .siteItem {
  padding-left: 10px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(1) .siteList .siteItem:hover {
  background: #F5F5F5;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(1) .noLoginContent {
  position: relative;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(1) .noLoginContent > svg {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 56px;
  height: 56px;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(1) .noLoginContent > div {
  position: absolute;
  top: 30px;
  left: 85px;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(1) .noLoginContent > div > div:nth-child(2) {
  margin-top: 5px;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(1) .noLoginContent > div > div:nth-child(2):hover {
  text-decoration: underline;
  cursor: pointer;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(2) {
  width: 100%;
  height: 30px;
  background: #f2f2f2 ;
  line-height: 30px;
  padding: 0 8px;
  text-align: right;
  border-top: 1px solid #d7d7d7;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(2) > span:nth-child(1) {
  width: 14px;
  height: 14px;
  background: #434343;
  text-align: center;
  line-height: 12px;
  font-size: 12px;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(2) > span:nth-child(2) {
  cursor: pointer;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(2) > span:nth-child(2):hover {
  color: #4BB1A6;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(6) {
  height: 30px;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(6):hover {
  background: #ffffff;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(6) > div:nth-child(1) {
  display: flex;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(6) > div:nth-child(1) > svg {
  width: 15px;
  height: 13px;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(6) > div:nth-child(1) > span:nth-child(2) {
  color: #333333;
  margin-left: 10px;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(6) > div:nth-child(1) > span:nth-child(3) {
  color: #CC3333;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(8) {
  height: 30px;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(8):hover {
  background: #ffffff;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(8):hover > div:nth-child(1) > svg {
  transform: rotate(-180deg);
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(8):hover > div:nth-child(2) {
  display: inline-block;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(8) > div:nth-child(1) {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(8) > div:nth-child(1) > svg {
  width: 11px;
  height: 16px;
  margin-left: 5px;
  fill: #666666;
  transform: rotate(0deg);
  transition: transform 0.5s;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(8) > div:nth-child(2) {
  position: absolute;
  top: 30px;
  width: 100%;
  heght: 150px;
  background: #fff;
  box-shadow: 0 2px 2px 0 #ddd;
  left: 0;
  display: none;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(8) > div:nth-child(2) > div {
  display: flex;
  align-items: center;
  height: 30px;
  cursor: pointer;
  justify-content: center;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(8) > div:nth-child(2) > div:hover {
  background: #f5f5f5;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(10) {
  height: 30px;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(10):hover {
  background: #ffffff;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(10) > div:nth-child(1) {
  cursor: pointer;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(12) {
  height: 30px;
  cursor: pointer;
}
.businessFunctionMenu > div > div:nth-child(2) > div:nth-child(12):hover {
  background: #ffffff;
}
